@using Kendo.Mvc.UI
@model MDM.WebPortal.Models.FromDB.POSLOCExtraData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    int facInfoDataID = ViewBag.FACInfoDataID;
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title"></h1>
        <ol class="breadcrumb pull-right">
            <li><a href="@Url.Action("Index", "Home", new {area = ""})"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "LocationsPOS", new {area = "PlaceOfServices"})"> LocationsPOS</a></li>
            <li class="active">New</li>
        </ol>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
    <div class="col-md-offset-2 col-md-8">

        @if (ViewBag.FormsDict == null || ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>
                <p>The FormsDict table is empty. You can't set the FORMS-SENT section until this table contains data.</p>
                <p>@ViewBag.Error</p>
            </div>
        }

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-ar nav-tabs-ar-white">
        <li class="active"><a href="#home2" data-toggle="tab"><i class="fa fa-info-circle"></i> INFO</a></li>
        <li><a href="#profile2" data-toggle="tab"><i class="fa fa-question-circle"></i> QUESTIONS</a></li>
        <li><a href="#sent2" data-toggle="tab"><i class="fa fa-send"></i> FORMS-SENT</a></li>
    </ul>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("FACInfoData_FACInfoDataID", facInfoDataID)

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <!-- Tab panes -->
        <div class="tab-content">
        <div class="tab-pane active" id="home2">
            <div class="form-horizontal">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new {@class = "control-label"})
                                @Html.EditorFor(model => model.Phone_Number, new {htmlAttributes = new {id="e-Phone",@class = "form-control form-control1"}})
                                @Html.ValidationMessageFor(model => model.Phone_Number, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Fax_Number, htmlAttributes: new {@class = "control-label"})
                                @Html.EditorFor(model => model.Fax_Number, new { htmlAttributes = new { id = "e-Fax", @class = "form-control form-control1" } })
                                @Html.ValidationMessageFor(model => model.Fax_Number, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Website, htmlAttributes: new {@class = "control-label"})
                        @Html.EditorFor(model => model.Website, new {htmlAttributes = new {id="e-Website",@class = "form-control form-control1"}})
                        @Html.ValidationMessageFor(model => model.Website, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Number_of_beds, htmlAttributes: new {@class = "control-label "})
                                @Html.EditorFor(model => model.Number_of_beds, new {htmlAttributes = new {id="e-Bed", @class = "form-control form-control1"}})
                                @Html.ValidationMessageFor(model => model.Number_of_beds, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.how_many_days_week_open, htmlAttributes: new {@class = "control-label"})
                                @Html.EditorFor(model => model.how_many_days_week_open, new {htmlAttributes = new {id="e-Days",@class = "form-control form-control1"}})
                                @Html.ValidationMessageFor(model => model.how_many_days_week_open, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Lab_Name, htmlAttributes: new {@class = "control-label"})
                        @Html.EditorFor(model => model.Lab_Name, new {htmlAttributes = new {@class = "form-control form-control1"}})
                        @Html.ValidationMessageFor(model => model.Lab_Name, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.BCBS_ID_Number, htmlAttributes: new {@class = "control-label"})
                                @Html.EditorFor(model => model.BCBS_ID_Number, new {htmlAttributes = new {@class = "form-control form-control1"}})
                                @Html.ValidationMessageFor(model => model.BCBS_ID_Number, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.UPIN_Number, htmlAttributes: new {@class = "control-label "})
                                @Html.EditorFor(model => model.UPIN_Number, new {htmlAttributes = new {@class = "form-control form-control1"}})
                                @Html.ValidationMessageFor(model => model.UPIN_Number, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Medicaid_Number, htmlAttributes: new {@class = "control-label "})
                                @Html.EditorFor(model => model.Medicaid_Number, new {htmlAttributes = new {@class = "form-control form-control1"}})
                                @Html.ValidationMessageFor(model => model.Medicaid_Number, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.State_of_MD_or_PhyGrp, htmlAttributes: new {@class = "control-label"})
                                @Html.EditorFor(model => model.State_of_MD_or_PhyGrp, new {htmlAttributes = new {@class = "form-control form-control1"}})
                                @*@Html.DropDownList("State_of_MD_or_PhyGrp", null, new { httmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.State_of_MD_or_PhyGrp, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.JACHO_CARF, htmlAttributes: new {@class = "control-label "})
                        @Html.EditorFor(model => model.JACHO_CARF, new {htmlAttributes = new {@class = "form-control form-control1"}})
                        @Html.ValidationMessageFor(model => model.JACHO_CARF, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Manage_care_contracts, htmlAttributes: new {@class = "control-label "})
                        @Html.EditorFor(model => model.Manage_care_contracts, new {htmlAttributes = new {@class = "form-control form-control1"}})
                        @Html.ValidationMessageFor(model => model.Manage_care_contracts, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.In_Service_date_time, htmlAttributes: new {@class = "control-label"})
                        @*@Html.TextBoxFor(model => model.In_Service_date_time, @"{0:MM/dd/yyyy}", htmlAttributes: new { id = "", @class = "form-control form-control1" })*@

                        @(Html.Kendo().DateTimePicker()
                           .Name("In_Service_date_time")
                           .Value(DateTime.Now)
                           .ParseFormats(new string[] { "MM/dd/yyyy hh:mm:ss tt" })
                           .HtmlAttributes(new { style = "width:100%; height:33.30px !important;" })
                        )
                        @Html.ValidationMessageFor(model => model.In_Service_date_time, "", new {@class = "text-danger"})
                    </div>
                </div>

            </div>
        </div>
        <div class="tab-pane" id="profile2">
        <div class="col-md-8">
        <h2 class="section-title">List of Questions</h2>
        <div class="panel-group" id="accordion1">
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="false">
                    1. Is the W9 on the File?
                </a>
            </div>
            <div id="collapseOne1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <input type="radio" name="W_9_on_File" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="W_9_on_File" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false">
                    2. Do you have 24 hrs nursing?
                </a>
            </div>
            <div id="collapseTwo1" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <input type="radio" name="Have_24hrs_nursing" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Have_24hrs_nursing" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false">
                    3. Out of Network or In network?
                </a>
            </div>
            <div id="collapseThree1" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <input type="radio" name="Out_of_Network_In_Network" value="In" class="radio-inline"/><strong>IN</strong>
                    <input type="radio" name="Out_of_Network_In_Network" value="Out" class="radio-inline"/><strong>OUT</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" aria-expanded="false">
                    4. Is the Licensure on File?
                </a>
            </div>
            <div id="collapseFour1" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <input type="radio" name="Licensure_on_File" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Licensure_on_File" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1" aria-expanded="false">
                    5. Do you have mental License?
                </a>
            </div>
            <div id="collapseFive1" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <input type="radio" name="Mental_License" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Mental_License" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1" aria-expanded="false">
                    6. Is the Regulations on File?
                </a>
            </div>
            <div id="collapseSix1" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <input type="radio" name="Regulations_on_File" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Regulations_on_File" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven1" aria-expanded="false">
                    7. Has Facility billed insurance before?
                </a>
            </div>
            <div id="collapseSeven1" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <input type="radio" name="Has_facility_billed_ins_before" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Has_facility_billed_ins_before" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight1" aria-expanded="false">
                    8. Do you have copies of all managed care contracts on file?
                </a>
            </div>
            <div id="collapseEight1" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <input type="radio" name="Copies_of_all_managed_care_contracts_on_file" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Copies_of_all_managed_care_contracts_on_file" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseNine1" aria-expanded="false">
                    9. Is the forms created?
                </a>
            </div>
            <div id="collapseNine1" class="panel-collapse collapse" aria-expanded="false">
                <div class="panel-body">
                    <input type="radio" name="Forms_created" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Forms_created" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTen1" aria-expanded="false">
                    10. Is the in service scheduled?
                </a>
            </div>
            <div id="collapseTen1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <input type="radio" name="In_Service_scheduled" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="In_Service_scheduled" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseEleven1" aria-expanded="false">
                    11. Portal training setup?
                </a>
            </div>
            <div id="collapseEleven1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <input type="radio" name="Portal_training_setup" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Portal_training_setup" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwelve1" aria-expanded="false">
                    12. Email regarding conference setup?
                </a>
            </div>
            <div id="collapseTwelve1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <input type="radio" name="email_regarding_conference_set_up" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="email_regarding_conference_set_up" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTrece1" aria-expanded="false">
                    13. Database setup?
                </a>
            </div>
            <div id="collapseTrece1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <input type="radio" name="Database_set_up" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Database_set_up" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseCatorce1" aria-expanded="false">
                    14. Availavility request send out?
                </a>
            </div>
            <div id="collapseCatorce1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <input type="radio" name="Availavility_request_sent_out" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Availavility_request_sent_out" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseQuince1" aria-expanded="false">
                    15. Availavility completed?
                </a>
            </div>
            <div id="collapseQuince1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <input type="radio" name="Availavility_completed" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Availavility_completed" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseDieciseis1" aria-expanded="false">
                    16. Navinet request completed?
                </a>
            </div>
            <div id="collapseDieciseis1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <input type="radio" name="Navinet_request_completed" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Navinet_request_completed" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-plus-link">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeventeen1" aria-expanded="false">
                    17. Fee schedule in binder?
                </a>
            </div>
            <div id="collapseSeventeen1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <input type="radio" name="Fee_schedule_in_binder" value="true" class="radio-inline"/><strong>YES</strong>
                    <input type="radio" name="Fee_schedule_in_binder" value="false" class="radio-inline"/><strong>NO</strong>
                </div>
            </div>
        </div>
        </div> <!-- panel-group -->
        </div>
        </div>
        <div id="sent2" class="tab-pane">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">FORMS DICTIONARY:</legend>
                <div class="form-group">
                    <div class="checkbox">
                        @foreach (var item in (SelectList) ViewBag.FormsDict)
                        {
                            <input id="@item.Value" type="checkbox" name="SelectedForms" value="@item.Value"/>
                            @Html.Label(item.Text, new {@class = "control-label"})
                            <br/>
                        }
                    </div>
                </div>
            </fieldset>
        </div>
        </div>

        <br/>
        <div class="pull-right">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-sm btn-primary"/>
                <a href="@Url.Action("Index", "LocationsPOS", new {area = "PlaceOfServices"})" class="btn btn-sm btn-danger">
                    <i class="fa fa-ban"></i> Cancel
                </a>
            </div>
        </div>
    }

    </div>
    </div>
</div>



<script src="~/Scripts/lib/inputmask/inputmask.js"></script>
<script src="~/Scripts/lib/inputmask/inputmask.regex.extensions.js"></script>
<script src="~/Scripts/lib/inputmask/inputmask.date.extensions.js"></script>
<script src="~/Scripts/lib/inputmask/inputmask.phone.extensions.js"></script>
<script src="~/Scripts/lib/inputmask/jquery.inputmask.js"></script>

<script>
    $(document).ready(function() {
        $("#e-Phone").inputmask({ "mask": "(999) 999-9999" });
        $("#e-Fax").inputmask({ "mask": "(999) 999-9999" });


    });
    //$(function InService() {
    //    $("#In_Service_date_time").inputmask({ "mask": "mm/dd/yyyy" });
    //});
</script>
