@model MDM.WebPortal.Models.FromDB.POSLOCExtraData

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>POSLOCExtraData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.W_9_on_File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.W_9_on_File)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_beds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_beds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Have_24hrs_nursing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Have_24hrs_nursing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.how_many_days_week_open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.how_many_days_week_open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ancillary_outpatient_services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ancillary_outpatient_services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lab_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lab_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Out_of_Network_In_Network)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Out_of_Network_In_Network)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licensure_on_File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licensure_on_File)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mental_License)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mental_License)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BCBS_ID_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BCBS_ID_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPIN_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPIN_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicaid_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicaid_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State_of_MD_or_PhyGrp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State_of_MD_or_PhyGrp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regulations_on_File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regulations_on_File)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JACHO_CARF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JACHO_CARF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Has_facility_billed_ins_before)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Has_facility_billed_ins_before)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manage_care_contracts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manage_care_contracts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Copies_of_all_managed_care_contracts_on_file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Copies_of_all_managed_care_contracts_on_file)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forms_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forms_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.In_Service_scheduled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.In_Service_scheduled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.In_Service_date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.In_Service_date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portal_training_setup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portal_training_setup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_regarding_conference_set_up)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_regarding_conference_set_up)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Database_set_up)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Database_set_up)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availavility_request_sent_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availavility_request_sent_out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Availavility_completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availavility_completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navinet_request_completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navinet_request_completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fee_schedule_in_binder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fee_schedule_in_binder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACInfoData.DocProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACInfoData.DocProviderName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
