@using Kendo.Mvc.UI
@model MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPOSLOCExtraData
@{
    Layout = null;
}

<div class="container-fluid">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border text-uppercase text-bold">contact info:</legend>
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dd>
                        <label class="text-uppercase">phone number<sup class="text-danger">*</sup></label>
                    </dd>
                    <dt>
                        @*@Html.EditorFor(model => model.Phone_Number, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"}})
                        @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })*@
                        @(Html.Kendo().MaskedTextBoxFor(x => x.Phone_Number)
                              .Mask("(000) 000-0000")
                              .HtmlAttributes(new { @class = " form-control form-control1", @style = "width:100% !important;" })
                         )
                    </dt>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dd>
                        <label class="text-uppercase">admission number<sup class="text-danger">*</sup></label>
                    </dd>
                    <dt>
                        @*@Html.EditorFor(model => model.AdmissionPhone, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"}})
                        @Html.ValidationMessageFor(model => model.AdmissionPhone, "", new { @class = "text-danger" })*@
                        @(Html.Kendo().MaskedTextBoxFor(x => x.AdmissionPhone)
                              .Mask("(000) 000-0000")
                              .HtmlAttributes(new { @class = " form-control form-control1", @style = "width:100% !important; " })
                        )
                    </dt>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dd>
                        <label class="text-uppercase">fax number<sup class="text-danger">*</sup></label>
                    </dd>
                    <dt>
                        @*@Html.EditorFor(model => model.Fax_Number, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"}})
                        @Html.ValidationMessageFor(model => model.Fax_Number, "", new { @class = "text-danger" })*@
                        @(Html.Kendo().MaskedTextBoxFor(x => x.Fax_Number)
                              .Mask("(000) 000-0000")
                              .HtmlAttributes(new { @class = " form-control form-control1", @style = "width:100% !important; " })
                        )
                    </dt>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dd>
                        <label class="text-uppercase">website<sup class="text-danger">*</sup></label>
                    </dd>
                    <dt>
                        @Html.EditorFor(model => model.Website, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;"}})
                        @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                    </dt>
                </dl>
            </div>
        </div>
    </fieldset>
    <fieldset class="scheduler-border">
        <legend class="scheduler-border text-uppercase text-bold">insurance info:</legend>
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dd>
                        <label class="text-uppercase">medicare number</label>
                    </dd>
                    <dt>
                        @Html.EditorFor(model => model.MedicareNumber, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                    </dt>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dd>
                        <label class="text-uppercase">medicaid number</label>
                    </dd>
                    <dt>
                        @Html.EditorFor(model => model.Medicaid_Number, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                    </dt>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dd>
                        <label class="text-uppercase">upin number</label>
                    </dd>
                    <dt>
                        @Html.EditorFor(model => model.UPIN_Number, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                    </dt>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dd>
                        <label class="text-uppercase">bcbs number</label>
                    </dd>
                    <dt>
                        @Html.EditorFor(model => model.BCBS_ID_Number, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                    </dt>
                </dl>
            </div>
        </div>
    </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border text-uppercase text-bold">more info:</legend>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">scholarship rate</label>
                        </dd>
                        <dt>
                            @Html.EditorFor(model => model.ScholarshipRate, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                        </dt>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">average of lenght stay</label>
                        </dd>
                        <dt>
                            @Html.EditorFor(model => model.AverageLenOfStay, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                        </dt>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">how many ua panels</label>
                        </dd>
                        <dt>
                            @Html.EditorFor(model => model.HowManyUAPanels, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                        </dt>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">paid to patient state</label>
                        </dd>
                        <dt>
                            @*@Html.EditorFor(model => model.PaidToPatientState, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"}})*@
                            @(Html.Kendo().DropDownListFor(x => x.PaidToPatientState)
                              .Name("PaidToPatientState")
                              .DataTextField("Text")
                              .DataValueField("Value")
                              .HtmlAttributes(new { style = "width: 100% !important;" })
                              .MinLength(3)
                              .Filter(FilterType.Contains)
                              .DataSource(source =>
                              {
                                  source.Custom()
                                      .ServerFiltering(true)
                                      .ServerPaging(true)
                                      .PageSize(80)
                                      .Type("aspnetmvc-ajax") //Set this type if you want to use DataSourceRequest and ToDataSourceResult instances
                                      .Transport(transport =>
                                      {
                                          transport.Read("Read_States", "POSAddressInfo");
                                      })
                                      .Schema(schema =>
                                      {
                                          schema.Data("Data") //define the [data](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.data) option
                                              .Total("Total"); //define the [total](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.total) option
                                      });
                              })
                            )
                        </dt>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">In Service Date-Time</label>
                        </dd>
                        <dt>
                            @*@Html.EditorFor(model => model.In_Service_date_time, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"}})*@
                            @(Html.Kendo().DateTimePickerFor(x => x.In_Service_date_time)
                                         .Name("In_Service_date_time")
                                         .HtmlAttributes(new{style = "width:100%;"})
                             )
                        </dt>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">days open</label>
                        </dd>
                        <dt>
                            @Html.EditorFor(model => model.how_many_days_week_open, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                        </dt>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">number of beds</label>
                        </dd>
                        <dt>
                            @Html.EditorFor(model => model.Number_of_beds, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                        </dt>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">Ancillary Outpatient Services</label>
                        </dd>
                        <dt>
                            @Html.EditorFor(model => model.Ancillary_outpatient_services, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                        </dt>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">Laboratory Name</label>
                        </dd>
                        <dt>
                            @Html.EditorFor(model => model.Lab_Name, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:94.5% !important; height:24px !important;" } })
                        </dt>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dd>
                            <label class="text-uppercase">State of Medicaid or PhyGrp</label>
                        </dd>
                        <dt>
                            @*@Html.EditorFor(model => model.State_of_MD_or_PhyGrp, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"}})*@
                            @(Html.Kendo().DropDownListFor(x => x.State_of_MD_or_PhyGrp)
                              .Name("State_of_MD_or_PhyGrp")
                              .DataTextField("Text")
                              .DataValueField("Value")
                              .HtmlAttributes(new {style = "width: 100% !important; height: 33.35px !important;" })
                              .MinLength(3)
                              .Filter(FilterType.Contains)
                              .DataSource(source =>
                              {
                                  source.Custom()
                                      .ServerFiltering(true)
                                      .ServerPaging(true)
                                      .PageSize(80)
                                      .Type("aspnetmvc-ajax") //Set this type if you want to use DataSourceRequest and ToDataSourceResult instances
                                      .Transport(transport =>
                                      {
                                          transport.Read("Read_States", "POSAddressInfo");
                                      })
                                      .Schema(schema =>
                                      {
                                          schema.Data("Data") //define the [data](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.data) option
                                              .Total("Total"); //define the [total](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.total) option
                                      });
                              })
                            )
                        </dt>
                    </dl>
                </div>
            </div>
        </fieldset>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border text-uppercase text-bold">Manage care:</legend>
            <dl>
                <dd>
                    <label class="control-label text-uppercase">contracts</label>
                </dd>

                <dt>
                    @Html.TextAreaFor(model => model.Manage_care_contracts, 5, 50, new {htmlAttributes = new {@class = "form-control"}})
                </dt>

            </dl>
        </fieldset>

    <div class="edit-buttons text-center">
        <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span>Save</a>
        <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span>Cancel</a>
    </div>
    <br />
</div>

