@model IEnumerable<MDM.WebPortal.Models.FromDB.FACInfoData>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateLic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicNumCLIA_waiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicEffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicExpireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taxonomy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAC_NPI_Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSLOCExtraData.Phone_Number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocProviderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateLic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicNumCLIA_waiver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicEffectiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicExpireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxonomy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAC_NPI_Num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSLOCExtraData.Phone_Number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FACInfoDataID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FACInfoDataID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FACInfoDataID })
        </td>
    </tr>
}

</table>
