@model IEnumerable<MDM.WebPortal.Models.FromDB.LocPOS_Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationsPOS.PosName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact.FName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationsPOS.PosName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.FName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocPOSContactID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocPOSContactID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocPOSContactID })
        </td>
    </tr>
}

</table>
