@model MDM.WebPortal.Models.FromDB.Edgemed_Logons

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Edgemed_Logons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Edgemed_UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edgemed_UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdgeMed_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdgeMed_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADPMaster.ADP_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADPMaster.ADP_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Edgemed_LogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
