@model IEnumerable<MDM.WebPortal.Models.Identity.Menu>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<ul id="menu">
    @foreach (var level1 in Model)
    {
        <li>
            @level1.Title
            @if (level1.ChildMenus.Count > 0)
            {
                <ul>
                    @foreach (var level2 in level1.ChildMenus)
                    {
                        <li>
                            @if (level2.ActionID == null)
                            {
                                @level2.Title
                            }
                            else
                            {
                                if (level2.actionSystem.ControllerSystem.AreaID == null)
                                {
                                  @Html.ActionLink(level2.Title, level2.actionSystem.Act_Name, level2.actionSystem.ControllerSystem.Cont_Name, new { Area = ""}, new { })
                                }
                                 else
                                 {
                                    @Html.ActionLink(level2.Title, level2.actionSystem.Act_Name, level2.actionSystem.ControllerSystem.Cont_Name, new { Area = level2.actionSystem.ControllerSystem.AreaSystem.AreaName }, new { })
                                 }

                            }
                           
                            @if (level2.ChildMenus.Count > 0)
                            {
                                <ul>
                                    @foreach (var level3 in level2.ChildMenus)
                                    {
                                        <li>
                                            @if (level3.ActionID == null)
                                            {
                                                @level3.Title
                                            }
                                            else
                                            {
                                                if (level3.actionSystem.ControllerSystem.AreaID == null)
                                                {
                                                    @Html.ActionLink(level3.Title, level3.actionSystem.Act_Name, level3.actionSystem.ControllerSystem.Cont_Name, new { Area = "" }, new { })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink(level3.Title, level3.actionSystem.Act_Name, level3.actionSystem.ControllerSystem.Cont_Name, new { Area = level3.actionSystem.ControllerSystem.AreaSystem.AreaName }, new { })
                                                }
                                            }
                                          
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>
<link href="~/Content/kendo/kendo.common-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/kendo/kendo.bootstrap.min.css" rel="stylesheet"/>

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
@(Html.Kendo().Menu()
      .Name("Menu")
      .BindTo(Model, mappings =>
      {
          mappings.For<MDM.WebPortal.Models.Identity.Menu>(binding => binding
                  .ItemDataBound((item, menuParent) =>
                  {
                      item.Text = menuParent.Title;
                  })
                  .Children(submenu => submenu.ChildMenus));
          mappings.For<MDM.WebPortal.Models.Identity.Menu>(binding => binding
                  .ItemDataBound((item, menuChild) =>
                  {
                      //if (menuChild.ActionID == null)
                      //{
                      //    item.Text = menuChild.Title;
                      //}
                      //else
                      //{
                      //    item.Action(menuChild.actionSystem.Act_Name, menuChild.actionSystem.ControllerSystem.Cont_Name, menuChild.actionSystem.ControllerSystem.AreaID == null ? new {Area = ""} : new {Area = menuChild.actionSystem.ControllerSystem.AreaSystem.AreaName});
                      //}
                      item.Text = menuChild.Title;
                  }));
      })
)
