@model MDM.WebPortal.Models.FromDB.Manager_Master

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Manager_Master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AliasName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AliasName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager_Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager_Type.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
