@model MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMCorporateMasterList
@{
    //required in order to render validation attributes
    ViewContext.FormContext = new FormContext();
}

<div class="container-fluid">
    
            <fieldset class="scheduler-border">
                <legend class="scheduler-border text-bold text-uppercase">corporation:</legend>
                <dl>
                    <dd>
                        <label>NAME<sup class="text-danger">*</sup></label>
                    </dd>
                    <dt>
                        @Html.EditorFor(model => model.CorporateName, new { htmlAttributes = new { @style = "width:100%; border-radius:3px !important; height:26px;" } })
                    </dt>
                </dl>

                <dl>
                    <dd>
                        <label>TAXID<sup class="text-danger">*</sup></label>
                    </dd>
                    <dt>
                        @Html.EditorFor(model => model.TaxID, new { htmlAttributes = new { @style = "width:100%; border-radius:3px !important; height:26px;" } })
                    </dt>
                </dl>

               


                <dl>
                    <dd>
                        @(Html.Kendo().CheckBoxFor(x => x.active))
                    </dd>
                </dl>

                <dl>
                    <dd>
                        @Html.LabelFor(x => x.Owners)
                    </dd>
                    <dt>
                        @Html.EditorFor(x => x.Owners)
                        @Html.ValidationMessageFor(m => m.Owners)
                    </dt>
                </dl>

                @*<dl>
                    <dd>
                        @Html.LabelFor(x => x.Contacts)
                    </dd>
                    <dt>
                        @Html.EditorFor(x => x.Contacts)
                        @Html.ValidationMessageFor(m => m.Contacts)
                    </dt>
                </dl>*@

                <dl>
                    <dd>
                        @Html.LabelFor(x => x.DBs)
                    </dd>
                    <dt>
                        @Html.EditorFor(x => x.DBs)
                        @Html.ValidationMessageFor(m => m.DBs)
                    </dt>
                </dl>

            </fieldset>
       
</div>