@model MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMLocationPOS_AddressInfo

<div class="product-view k-widget">
    <div class="edit-buttons">
        <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
        <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
    </div>
    <dl>
        <dt>DBA</dt>
        <dd>
            @(Html.EditorFor(p => p.DBA_Name))
            <!-- ProductName validation message placeholder -->
            <span data-for="DBA_Name" class="k-invalid-msg"></span>
        </dd>
        <dt>Time Zone</dt>
        <dd>
            @(Html.EditorFor(p => p.Time_Zone))
            <!-- UnitPrice validation message placeholder -->
            <span data-for="Time_Zone" class="k-invalid-msg"></span>
        </dd>
        <dt>Address 1</dt>
        <dd>
            @(Html.EditorFor(p => p.Physical_Addr1))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="Physical_Addr1" class="k-invalid-msg"></span>
        </dd>
        <dt>Address 2</dt>
        <dd>
            @(Html.EditorFor(p => p.Physical_Addr2))
            <span data-for="Physical_Addr2" class="k-invalid-msg"></span>
        </dd>
        <dt>City</dt>
        <dd>
            @(Html.EditorFor(p => p.Physical_City))
            <span data-for="Physical_City" class="k-invalid-msg"></span>
        </dd>
        <dt>State</dt>
        <dd>
            @(Html.EditorFor(p => p.Physical_state))
            <span data-for="Physical_state" class="k-invalid-msg"></span>
        </dd>
        <dt>Zip</dt>
        <dd>
            @(Html.EditorFor(p => p.Physical_Zip))
            <span data-for="Physical_Zip" class="k-invalid-msg"></span>
        </dd>


        <dt>Address 1</dt>
        <dd>
            @(Html.EditorFor(p => p.Payment_Addr1))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="Payment_Addr1" class="k-invalid-msg"></span>
        </dd>
        <dt>Address 2</dt>
        <dd>
            @(Html.EditorFor(p => p.Payment_Addr2))
            <span data-for="Payment_Addr2" class="k-invalid-msg"></span>
        </dd>
        <dt>City</dt>
        <dd>
            @(Html.EditorFor(p => p.Payment_City))
            <span data-for="Payment_City" class="k-invalid-msg"></span>
        </dd>
        <dt>State</dt>
        <dd>
            @(Html.EditorFor(p => p.Payment_state))
            <span data-for="Payment_state" class="k-invalid-msg"></span>
        </dd>
        <dt>Zip</dt>
        <dd>
            @(Html.EditorFor(p => p.Payment_Zip))
            <span data-for="Payment_Zip" class="k-invalid-msg"></span>
        </dd>

        <dt>Notes</dt>
        <dd>
            @(Html.EditorFor(p => p.Notes))
            <span data-for="Notes" class="k-invalid-msg"></span>
        </dd>

    </dl>
    @*<dl>
        <dt>Product Name</dt>
        <dd>
            @(Html.EditorFor(p => p.ProductName))
            <span data-for="ProductName" class="k-invalid-msg"></span>
        </dd>
        <dt>Unit Price</dt>
        <dd>
            @(Html.EditorFor(p => p.UnitPrice))
            <span data-for="UnitPrice" class="k-invalid-msg"></span>
        </dd>
        <dt>Units In Stock</dt>
        <dd>
            @(Html.EditorFor(p => p.UnitsInStock))
            <span data-for="UnitsInStock" class="k-invalid-msg"></span>
        </dd>
        <dt>Discontinued</dt>
        <dd>@(Html.EditorFor(p => p.Discontinued))</dd>
    </dl>*@
</div>
