@model MDM.WebPortal.Models.ViewModel.VMCPTData

<div class="container-fluid">
              
            <fieldset class="scheduler-border">
                <legend class="scheduler-border text-uppercase text-bold">CPTData:</legend>

                <dl>
                    <dt>
                        <label class="control-label">CPT <sup class="text-danger">*</sup></label>
                    </dt>
                    <dd>
                        @(Html.Kendo().TextBoxFor(x => x.CPT).HtmlAttributes(new { style = "border-radius: 3px !important; width:100%;" }))
                        @*@Html.TextBoxFor(x => x.CPT, htmlAttributes: new {@class= "form-control"})*@
                        @Html.ValidationMessageFor(m => m.CPT)
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label class="control-label">DESCRIPTION <sup class="text-danger">*</sup></label>
                    </dt>
                    <dd>
                        @*@(Html.Kendo().EditorFor(x => x.CPT_Description)
                    .HtmlAttributes(new {style = "height:100px; witdh:100px;"})
                    )*@
                        @Html.TextAreaFor(model => model.CPT_Description, 5, 15, htmlAttributes: new { style = "witdh:100px;" })
                        @Html.ValidationMessageFor(m => m.CPT_Description)
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <label class="control-label">SHORT DESCRIPTION <sup class="text-danger">*</sup></label>
                    </dt>
                    <dd>
                        @*@(Html.Kendo().EditorFor(x => x.ShortD)
                    .HtmlAttributes(new {style = "height:50px; witdh:100px;"})
                    )*@
                        @Html.TextAreaFor(model => model.ShortD, 5, 15, htmlAttributes: new { style = "witdh:100px;" })
                        @Html.ValidationMessageFor(m => m.ShortD)
                    </dd>
                </dl>

                <dl>
                    <dd>
                        @(Html.Kendo().CheckBoxFor(x => x.Active))
                        @Html.ValidationMessageFor(m => m.Active)
                    </dd>
                </dl>
                </fieldset>

</div>


