@model MDM.WebPortal.Models.ViewModel.VMPOS_Name_DBPOS_grp

<script type="text/javascript">
    function filterFacilities() {
        return {
            DB_ID: $("#DB_ID").data("kendoDropDownList").value()
        };
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Update Relationship:</legend>
                <dl>
                    <dt>
                        @Html.Label("POS"):
                    </dt>
                    <dd>
                        @(Html.Kendo().DropDownListFor(m => m.MDMPOS_ListNameID)
                              .ValuePrimitive(true)
                              .OptionLabel("Select POS...")
                              .DataTextField("PosName")
                              .DataValueField("MDMPOS_ListNameID")
                              .HtmlAttributes(new { style = "width:100%;" })
                              .DataSource(dataSource =>
                              {
                                  dataSource.Read(read => read.Action("GetCascadePos", "MDM_POS_Name_DBPOS_grp"))
                                      .ServerFiltering(true);
                              })
                              )
                        @Html.ValidationMessageFor(m => m.MDMPOS_ListNameID)
                    </dd>
                </dl>
                <dl>
                    <dt>
                        @Html.Label("DB"):
                    </dt>
                    <dd>
                        @(Html.Kendo().DropDownListFor(m => m.DB_ID)
                              .AutoBind(false)
                              .ValuePrimitive(true)
                              .OptionLabel("Select DB...")
                              .DataTextField("DB")
                              .DataValueField("DB_ID")
                                      .HtmlAttributes(new { style = "width:100%;" })
                              .DataSource(dataSource =>
                              {
                                  dataSource.Read(read => read.Action("GetCascadeDbs", "MDM_POS_Name_DBPOS_grp"))
                                      .ServerFiltering(true);
                              })

                              )
                        @Html.ValidationMessageFor(m => m.DB_ID)
                    </dd>
                </dl>



                <dl>
                    <dt>
                        @Html.Label("FACILITY"):
                    </dt>
                    <dd>
                        @(Html.Kendo().DropDownListFor(m => m.FacilityID)
                              .AutoBind(false)
                              .ValuePrimitive(true)
                              .OptionLabel("Select Facility...")
                              .DataTextField("FacilityID")
                              .DataValueField("FacilityID")
                                      .HtmlAttributes(new { style = "width:100%;" })
                              .DataSource(dataSource =>
                              {
                                  dataSource.Read(read => read.Action("GetFacByDbs", "MDM_POS_Name_DBPOS_grp").Data("filterFacilities"))
                                      .ServerFiltering(true);
                              })
                              .CascadeFrom("DB_ID")
                              )
                        @Html.ValidationMessageFor(m => m.FacilityID)
                    </dd>

                </dl>
                <dl>
                    @*<dt>
                         @Html.Label("ACTIVE"): @Html.CheckBoxFor(x => x.Active)

                    </dt>*@

                    <dd>
                        @(Html.Kendo().CheckBoxFor(x => x.Active))
                    </dd>

                </dl>
            </fieldset>
        </div>
    </div>
</div>




