@model MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMFACInfoData
           @{
               int pos = ViewBag.MasterPOS;
           }
    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-uppercase"><i class="fa fa-info-circle"></i> license info</div>
            <div class="panel-body">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border text-uppercase text-bold">license:</legend>
                    <div class="row">
                        <div class="col-md-5">
                            <dl>
                                <dd>
                                    <label class="text-uppercase">type<sup class="text-danger">*</sup></label>
                                </dd>
                                <dt>
                                    @Html.EditorFor(model => model.LicType, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"}})
                            </dt>
                        </dl>
                    </div>
                    <div class="col-md-5">
                        <dl>
                            <dd>
                                <label class="text-uppercase">number<sup class="text-danger">*</sup></label>
                            </dd>
                            <dt>
                                @Html.EditorFor(model => model.LicNumber, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;" }})
                            </dt>
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <dl>
                            <dd>
                                <label class="text-uppercase">effective date<sup class="text-danger">*</sup></label>
                            </dd>
                            <dt>
                                @(Html.Kendo().DatePickerFor(x => x.LicEffectiveDate)
                                      //.Name("LicEffectiveDate")
                                      //.Name("effD_"+pos)
                                      .Max(DateTime.Today)
                                      .ParseFormats(new string[] {"MM/dd/yyyy"})
                                      //.Events(e => e.Change("startChange"))
                                      .HtmlAttributes(new {style = "width:100%; "})
                                 )
                                @Html.ValidationMessageFor(model => model.LicEffectiveDate, "", new {@class = "text-danger"})
                            </dt>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <dl>
                            <dd>
                                <label class="text-uppercase">expire date<sup class="text-danger">*</sup></label>
                            </dd>
                            <dt>
                                @(Html.Kendo().DatePickerFor(x => x.LicExpireDate)
                                      //.Name("expD_"+pos)
                                      //.Name("LicExpireDate")
                                      .Min(DateTime.Today)
                                      .ParseFormats(new string[] {"MM/dd/yyyy"})
                                      //.Events(e => e.Change("endChange"))
                                      .HtmlAttributes(new {style = "width:100%; "})
                                      .ToClientTemplate()
                                 )
                                @Html.ValidationMessageFor(model => model.LicExpireDate, "", new {@class = "text-danger"})
                            </dt>
                        </dl>
                    </div>
                    <div class="col-md-3">
                        <dl>
                            <dd>
                                <label class="control-label text-uppercase text-bold">state <sup class="text-danger">*</sup></label>
                            </dd>
                            <dt>
                                @(Html.Kendo().DropDownListFor(x => x.StateLic)
                                      .Name("StateLic")
                                      .DataTextField("Text")
                                      .DataValueField("Value")
                                      .HtmlAttributes(new {style = "width: 100%"})
                                      .MinLength(3)
                                      .Filter(FilterType.Contains)
                                      .DataSource(source =>
                                      {
                                          source.Custom()
                                              .ServerFiltering(true)
                                              .ServerPaging(true)
                                              .PageSize(80)
                                              .Type("aspnetmvc-ajax") //Set this type if you want to use DataSourceRequest and ToDataSourceResult instances
                                              .Transport(transport =>
                                              {
                                                  transport.Read("Read_States", "POSAddressInfo");
                                              })
                                              .Schema(schema =>
                                              {
                                                  schema.Data("Data") //define the [data](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.data) option
                                                      .Total("Total"); //define the [total](http://docs.telerik.com/kendo-ui/api/javascript/data/datasource#configuration-schema.total) option
                                              });
                                      })
                                 )
                            </dt>
                        </dl>
                    </div>
                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border text-uppercase text-bold">clia:</legend>
                <dl>
                    <dd>
                        <label class="text-uppercase">number<sup class="text-danger">*</sup></label>
                    </dd>
                    <dt>
                        @Html.EditorFor(model => model.LicNumCLIA_waiver, new {htmlAttributes = new {@class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"}})
                    </dt>
                </dl>

                <div class="row">
                    <div class="col-md-5">
                        <dl>
                            <dd>
                                <label class="text-uppercase">effective date<sup class="text-danger">*</sup></label>
                            </dd>
                            <dt>
                                @(Html.Kendo().DatePicker()
                                      .Name("CLIA_EffectiveDate")
                                      //.Value(DateTime.Today)
                                      .Max(DateTime.Today)
                                      .ParseFormats(new string[] {"MM/dd/yyyy"})
                                      //.Events(e => e.Change("startChange"))
                                      .HtmlAttributes(new {style = "width:100%; "})
                                      )
                                @Html.ValidationMessageFor(model => model.CLIA_EffectiveDate, "", new {@class = "text-danger"})
                            </dt>
                        </dl>
                    </div>
                    <div class="col-md-5">
                        <dl>
                            <dd>
                                <label class="text-uppercase">expire date<sup class="text-danger">*</sup></label>
                            </dd>
                            <dt>
                                @(Html.Kendo().DatePicker()
                                      .Name("CLIA_ExpireDate")
                                      //.Value(DateTime.Today)
                                      .Min(DateTime.Today)
                                      .ParseFormats(new string[] {"MM/dd/yyyy"})
                                      //.Events(e => e.Change("endChange"))
                                      .HtmlAttributes(new {style = "width:100%; "})
                                      )
                                @Html.ValidationMessageFor(model => model.CLIA_ExpireDate, "", new {@class = "text-danger"})
                            </dt>
                        </dl>
                    </div>

                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border text-bold text-uppercase">taxonomy:</legend>
                <dl>
                    <dt>
                        @Html.EditorFor(model => model.Taxonomy, new { htmlAttributes = new { @class = " form-control form-control1", @style = "width:98% !important; height:20.15px !important;"} })
                    </dt>
                </dl>
            </fieldset>

        </div>
            <div class="text-center">
                <a class="k-button k-update-button btn btn-sm btn-primary" href="\\#"><span class="fa fa-cloud-upload"></span> SAVE</a>
                <a class="k-button k-cancel-button btn btn-sm btn-danger" href="\\#"><span class="fa fa-ban"></span> CANCEL</a>
            </div>
            <br/>
    </div>


</div>
@*<script>
    /*----------Selecting dates with Kendo Date Picker--------------------*/
    function startChange() {
        var endPicker = $("#LicExpireDate").data("kendoDateTimePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function endChange() {
        var startPicker = $("#LicEffectiveDate").data("kendoDateTimePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }

    /*----------Selecting dates with Kendo Date Picker--------------------*/
</script>*@
 