@using MDM.WebPortal.Controllers
@using MDM.WebPortal.Models.Identity
@using Microsoft.AspNet.Identity
@using Menu = MDM.WebPortal.Models.Identity.Menu
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/assets/img/favicon.png" />
   
    <meta name="description" content="">


    
    <script src="~/assets/js/vendors.js"></script>

    <!--Kendo UI for ASP.NET MVC-->
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/kendo/css")



    <link href="~/assets/css/preload.css" rel="stylesheet" />
    <link href="~/assets/css/vendors.css" rel="stylesheet" />
    <link href="~/assets/css/syntaxhighlighter/shCore.css" rel="stylesheet"/>
    <link href="~/assets/css/style-blue.css" rel="stylesheet" />
    <link href="~/assets/css/width-full.css" rel="stylesheet" />    
    <link rel="stylesheet" href="~/Content/Site1.css" />
   

</head>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<body>
  

    <header id="header-full-top" class="hidden-xs header-full">
        <div class="container">
            <div class="header-full-title">
                <h1 class="animated fadeInRight"><a href="@Url.Action("Index", "Home", new { Area= ""})">MDM <span>WebPortal</span></a></h1>
                <p class="animated fadeInRight">Improving Performance</p>
            </div>
            <nav class="top-nav">
                <ul class="top-nav-social hidden-sm">
                   
                </ul>

 

            </nav>
        </div> <!-- container -->
    </header> <!-- header-full -->

    <nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="@Url.Action("Index", "Home", new {area=""})">MDM <span>WebPortal</span></a>
            </div> <!-- navbar-header -->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
           

            @*This is it Hard code MENU*@
                    
                    @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN") || User.IsInRole("MANAGER"))
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Dictionaries</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                <li>@Html.ActionLink("ADP_Masters", "Index", "ADPMasters", new {Area = "ADP"}, new {})</li>

                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Corporation</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                       
                                        <li>@Html.ActionLink("Corporations", "Index", "CorporateMasterLists", new {Area = "Credentials"}, new {})</li>
                                        @*<li>@Html.ActionLink("Corp_DBs", "Index", "Corp_DBs", new {Area = ""}, new {})</li>
                                        <li>@Html.ActionLink("Corp_Owners", "Index", "Corp_Owner", new {Area = ""}, new {})</li>*@
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("CPT_Data", "Index", "CPTDatas", new { Area = "" }, new { })</li>
                               
                                <li>@Html.ActionLink("Action_Codes", "Index", "ActionCodes", new { Area = "ActionCode" }, new { })</li>
                                <li>@Html.ActionLink("BI-ManagerAccess", "Index", "BI_DB_FvP_Access", new { Area = "ManagerDBA" }, new { })</li>
                                <li>@Html.ActionLink("BI-POSName", "Index", "MDM_POS_Name_DBPOS_grp", new {Area = ""}, new {})</li>
                                
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">BI-PlaceOfServices</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li>@Html.ActionLink("BI-PlaceOfServices", "Index", "MasterPOS", new { Area = "Credentials" }, new { })</li>
                                        <li>@Html.ActionLink("Level Of Care", "Index", "LevelOfCare", new { Area = "Credentials" }, new { })</li>
                                        <li>@Html.ActionLink("MPServices", "Index", "MPServices", new { Area = "Credentials" }, new { })</li>
                                        <li>@Html.ActionLink("Providers", "Index", "Providers", new { Area = "Credentials" }, new { })</li>
                                        <li>@Html.ActionLink("Physician Group", "Index", "PHYGroups", new { Area = "Credentials" }, new { })</li>
                                        <li>@Html.ActionLink("Contacts", "Index", "Contacts", new { Area = "Credentials" }, new { })</li>
                                        <li>@Html.ActionLink("Forms Sent", "Index", "FormsDicts", new { Area = "Credentials" }, new { })</li>
                                        <li>@Html.ActionLink("File Classification", "Index", "FileTypeIs", new { Area = "Credentials" }, new { })</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">ADMIN</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Manager</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li>@Html.ActionLink("Manager_Type", "Index", "Manager_Type", new {Area = "ManagerDBA"}, new {})</li>
                                        <li>@Html.ActionLink("Manager_Master", "Index", "Manager_Master", new {Area = "ManagerDBA"}, new {})</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("DBList", "Index", "DBLists", new {Area = ""}, new {})</li>
                                <li>@Html.ActionLink("Roles", "Index", "RolesAdmin", new { Area = "" }, new { })</li>
                                <li>@Html.ActionLink("Users", "Index", "UsersAdmin", new {Area = ""}, new {})</li>
                                <li>@Html.ActionLink("Areas", "Index", "AreaSystems", new {Area = ""}, new {})</li>
                                <li>@Html.ActionLink("Controllers", "Index", "ControllerSystems", new {Area = ""}, new {})</li>
                                <li>@Html.ActionLink("Actions", "Index", "ActionSystems", new { Area = "" }, new { })</li>
                                <li>@Html.ActionLink("Permissions", "Index", "Permissions", new { Area = "" }, new { })</li>
                            </ul>
                        </li>
                    }

            @*PRODUCTION MENU
                @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN") || User.IsInRole("MANAGER"))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Dictionaries</a>
                    <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li>@Html.ActionLink("MasterUserLists", "Index", "ADPMasters", new {Area = "ADP"}, new {})</li>
                        <li>@Html.ActionLink("BI-CorporateNameLists", "Index", "CorporateMasterList", new {Area = ""}, new {})</li>
                        <li>@Html.ActionLink("CPT_Data", "Index", "CPTDatas", new {Area = ""}, new {})</li>
                        <li>@Html.ActionLink("Action_Codes", "Index", "ActionCodes", new {Area = "ActionCode"}, new {})</li>
                        <li>@Html.ActionLink("BI-ManagerAccess", "Index", "BI_DB_FvP_Access", new {Area = "ManagerDBA"}, new {})</li>
                        <li>@Html.ActionLink("BI-POSName", "Index", "MDM_POS_Name_DBPOS_grp", new { Area = "" }, new { })</li>
                    </ul>
                </li>
            }*@
            </ul>

            @Html.Partial("_LoginPartial")
        </div><!-- navbar-collapse -->
      
        </div><!-- container -->
    </nav>

@* This is it Dynamic version of MENU
    @if (User.Identity.IsAuthenticated)
    {
        MenusController controlador = new MenusController();
        List<Menu> myMenus = controlador.GetMenus(User.Identity.IsAuthenticated, User.IsInRole("ADMIN"), User.Identity.GetUserId());
        @(Html.Kendo().Menu()
                      .Name("Menu")
                      .BindTo(myMenus, mappings =>
                      {
                          mappings.For<MDM.WebPortal.Models.Identity.Menu>(binding => binding
                                  .ItemDataBound((item, menuParent) =>
                                  {
                                      item.Text = menuParent.Title;
                                  })
                                  .Children(submenu => submenu.ChildMenus.ToList()));
                          mappings.For<MDM.WebPortal.Models.Identity.Menu>(binding => binding
                                  .ItemDataBound((item, menuChild) =>
                                  {
                                      item.Text = menuChild.Title;
                                      item.ActionName = menuChild.actionSystem.Act_Name;
                                      item.ControllerName = menuChild.actionSystem.ControllerSystem.Cont_Name;
                                      item.Action("Index", "OwnerLists", routeValues: new { Area = "" });
                                  }));
                      })


        )
    }*@
    
    <div>
        @RenderBody()
    </div>

    <aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               @* <h3 class="footer-widget-title">Sitemap</h3>*@
                    <ul class="list-unstyled three_cols">
                    </ul>
                </div>
                
                
            </div> <!-- row -->
        </div> <!-- container -->
    </aside> <!-- footer-widgets -->
    <footer id="footer">
        <p style="text-align:center; color:#adabab; font-size: 0.7em">&copy; @DateTime.Now.Year <a href="#">MedPro Billing</a>, inc. All rights reserved.</p>
    </footer>

   
    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>
   
    
   
    @RenderSection("scripts", required: false)
    
    
    <script src="~/assets/js/syntaxhighlighter/shCore.js"></script>
    <script src="~/assets/js/syntaxhighlighter/shBrushXml.js"></script>
    <script src="~/assets/js/syntaxhighlighter/shBrushJScript.js"></script>
    <script src="~/assets/js/DropdownHover.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/holder.js"></script>
    <script src="~/assets/js/index.js"></script>

    <script>       
        var lastScrollTop = 0;
        $(window).scroll(function (event) {
            var currentScroll = $(this).scrollTop();
            if (currentScroll > lastScrollTop) {
                // downscroll code
                $("nav").addClass("navbar-fixed-top");
                
            } else {
                // upscroll code
                if (currentScroll == 0) {
                    $("nav").removeClass("navbar-fixed-top");
                }
            }
            lastScrollTop = currentScroll;
        });
        
    </script>
   
</body>
</html>
