@using MDM.WebPortal.Controllers
@using MDM.WebPortal.Models.Identity
@using Microsoft.AspNet.Identity
@using Menu = MDM.WebPortal.Models.Identity.Menu
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/assets/img/favicon.png" />
   
    <meta name="description" content="">

    <!-- CSS -->
   @* @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
    <script src="~/assets/js/vendors.js"></script>

    <!--Kendo UI for ASP.NET MVC-->
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/kendo/css")



    <link href="~/assets/css/preload.css" rel="stylesheet" />
    <link href="~/assets/css/vendors.css" rel="stylesheet" />
    <link href="~/assets/css/syntaxhighlighter/shCore.css" rel="stylesheet"/>
    <link href="~/assets/css/style-blue.css" rel="stylesheet" />
    <link href="~/assets/css/width-full.css" rel="stylesheet" />    
    <link rel="stylesheet" href="~/Content/Site1.css" />
   

</head>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<body>
  

    <header id="header-full-top" class="hidden-xs header-full">
        <div class="container">
            <div class="header-full-title">
                <h1 class="animated fadeInRight"><a href="@Url.Action("Index", "Home", new { Area= ""})">MDM <span>WebPortal</span></a></h1>
                <p class="animated fadeInRight">Improving Performance</p>
            </div>
            <nav class="top-nav">
                <ul class="top-nav-social hidden-sm">
                   
                </ul>

 

            </nav>
        </div> <!-- container -->
    </header> <!-- header-full -->

    <nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation" id="header">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="@Url.Action("Index", "Home", new {area=""})">MDM <span>WebPortal</span></a>
            </div> <!-- navbar-header -->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            @*<li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Home</a>
                <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                    <li><a href="index.html">Option 1: Default</a></li>
                    <li><a href="home_services.html">Option 2: Services</a></li>
                    <li><a href="home_full.html">Option 3: Full Intro</a></li>
                    <li><a href="home_only_full.html">Option 4: Only Full Intro</a></li>
                    <li><a href="home_news.html">Option 5: News</a></li>
                    <li><a href="home_profile.html">Option 6: Professional Profile</a></li>
                    <li><a href="home_plan.html">Option 7: Subscribe</a></li>
                    <li role="presentation" class="dropdown-header">New Home Pages 1.4</li>
                    <li><a href="home_polygon.html">Option 8: Product <span class="label label-success pull-right">New</span></a></li>
                </ul>
            </li>*@
            
            @*<li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Pages</a>
        <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
            <li class="dropdown-submenu">
                <a href="javascript:void(0);" class="has_children">About us &amp; Team</a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="page_about.html">About us Option 1</a></li>
                    <li><a href="page_about2.html">About us Option 2</a></li>
                    <li><a href="page_about3.html">About us &amp; Team</a></li>
                    <li class="divider"></li>
                    <li><a href="page_team.html">Our Team Option 1</a></li>
                    <li><a href="page_team2.html">Our Team Option 2</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);" class="has_children">Form</a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="page_contact.html">Contact Option 1</a></li>
                    <li><a href="page_contact2.html">Contact Option 2</a></li>
                    <li class="divider"></li>
                    <li><a href="page_login.html">Login Integrated</a></li>
                    <li><a href="page_login_full.html">Login Full Page</a></li>
                    <li class="divider"></li>
                    <li><a href="page_login_register.html">Login and Register</a></li>
                    <li><a href="page_register.html">Register Option 1</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);" class="has_children">Profiles</a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="page_profile.html">User Profile Option 1</a></li>
                    <li><a href="page_profile2.html">User Profile Option 2</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);" class="has_children">Error</a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="page_404.html">Error 404 Full Page</a></li>
                    <li><a href="page_404_2.html">Error 404 Integrated</a></li>
                    <li><a href="page_500.html">Error 500 Full Page</a></li>
                    <li><a href="page_500_2.html">Error 500 Integrated</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);" class="has_children">Bussiness &amp; Products</a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="page_testimonial.html">Testimonials</a></li>
                    <li><a href="page_clients.html">Our Clients</a></li>
                    <li><a href="page_product.html">Products</a></li>
                    <li><a href="page_services.html">Services</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);" class="has_children">Pricing</a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="page_pricing.html">Pricing Box</a></li>
                    <li><a href="page_pricing-mega.html">Pricing Mega Table</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);" class="has_children">FAQ &amp; Support</a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="page_support.html">Support Center</a></li>
                    <li><a href="page_faq.html">FAQ Option 1</a></li>
                    <li><a href="page_faq2.html">FAQ Option 2</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);" class="has_children">Coming Soon</a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="page_coming.html">Coming Soon Option 1</a></li>
                    <li><a href="page_coming2.html">Coming Soon Option 2</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="javascript:void(0);" class="has_children">Timeline</a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="page_timeline_left.html">Timeline Left</a></li>
                    <li><a href="page_timeline.html">Timeline Center</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Blog</a>
        <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
            <li><a href="blog.html">Blog Right Sidebar</a></li>
            <li><a href="blog_left.html">Blog Left Sidebar</a></li>
            <li><a href="blog_full.html">Blog Full</a></li>
            <li><a href="blog_masonry.html">Blog Masonry <span class="label label-success pull-right">New</span></a></li>
            <li><a href="blog2.html">Other Option</a></li>
            <li class="divider"></li>
            <li><a href="single.html">Blog Item</a></li>
            <li><a href="single_full.html">Blog Item Full</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">E-commerce</a>
        <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
            <li><a href="e-commerce_home.html">E-commerce Home</a></li>
            <li><a href="e-commerce.html">E-commerce Filters</a></li>
            <li><a href="e-commerce_product.html">Product</a></li>
            <li><a href="e-commerce_cart.html">Cart</a></li>
        </ul>
    </li>*@

            @*This is it
                    
                    @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN") || User.IsInRole("MANAGER"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Dictionaries</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">

                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Corporation</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li>@Html.ActionLink("Owners", "Index", "OwnerLists", new { Area = "" }, new { })</li>
                                        <li>@Html.ActionLink("Corporations", "Index", "CorporateMasterList", new {Area = ""}, new {})</li>
                                        <li>@Html.ActionLink("Corp_DBs", "Index", "Corp_DBs", new {Area = ""}, new {})</li>
                                        <li>@Html.ActionLink("Corp_Owners", "Index", "Corp_Owner", new {Area = ""}, new {})</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("CPT_Data", "Index", "CPTDatas", new { Area = "" }, new { })</li>
                                <li>@Html.ActionLink("ADP_Masters", "Index", "ADPMasters", new { Area = "ADP" }, new { })</li>
                                <li>@Html.ActionLink("Action_Codes", "Index", "ActionCodes", new { Area = "ActionCode" }, new { })</li>
                                <li>@Html.ActionLink("Manager_DB_Access", "Index", "BI_DB_FvP_Access", new {Area = "ManagerDBA"}, new {})</li>

                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">POSNAME</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li>@Html.ActionLink("POS_Names_grouping", "Index", "MDM_POS_Name_DBPOS_grp", new { Area = "" }, new { })</li>
                                        <li>@Html.ActionLink("Master_Name_List", "Index", "MDM_POS_ListName", new { Area = "" }, new { })</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN"))
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">ADMIN</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children">Manager</a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li>@Html.ActionLink("Manager_Type", "Index", "Manager_Type", new {Area = "ManagerDBA"}, new {})</li>
                                        <li>@Html.ActionLink("Manager_Master", "Index", "Manager_Master", new {Area = "ManagerDBA"}, new {})</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("DBList", "Index", "DBLists", new {Area = ""}, new {})</li>
                                <li>@Html.ActionLink("Roles", "Index", "RolesAdmin", new { Area = "" }, new { })</li>
                                <li>@Html.ActionLink("Users", "Index", "UsersAdmin", new {Area = ""}, new {})</li>
                                <li>@Html.ActionLink("Areas", "Index", "AreaSystems", new {Area = ""}, new {})</li>
                                <li>@Html.ActionLink("Controllers", "Index", "ControllerSystems", new {Area = ""}, new {})</li>
                                <li>@Html.ActionLink("Actions", "Index", "ActionSystems", new { Area = "" }, new { })</li>
                                <li>@Html.ActionLink("Permissions", "Index", "Permissions", new { Area = "" }, new { })</li>
                            </ul>
                        </li>
                    }*@

            @if (User.Identity.IsAuthenticated && User.IsInRole("ADMIN") || User.IsInRole("MANAGER"))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="False">Dictionaries</a>
                    <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        @*<li>@Html.ActionLink("BI-MasterUserLists", "Index", "MasterUserLists", new { Area = "" }, new { })</li>*@
                        <li>@Html.ActionLink("MasterUserLists", "Index", "ADPMasters", new {Area = "ADP"}, new {})</li>
                        <li>@Html.ActionLink("BI-CorporateNameLists", "Index", "CorporateNameLists", new {Area = ""}, new {})</li>
                        <li>@Html.ActionLink("CPT_Data", "Index", "CPTDatas", new {Area = ""}, new {})</li>
                        @*<li>@Html.ActionLink("BI-ActionCode", "Index", "CollNoteTypeCatPriorities", new {Area = ""}, new {})</li>*@
                        <li>@Html.ActionLink("Action_Codes", "Index", "ActionCodes", new {Area = "ActionCode"}, new {})</li>
                        <li>@Html.ActionLink("BI-ManagerAccess", "Index", "DBA", new {Area = ""}, new {})</li>
                    </ul>
                </li>
            }
            </ul>

            @Html.Partial("_LoginPartial")
        </div><!-- navbar-collapse -->

        @*@{
                if (User.Identity.IsAuthenticated)
                {
                    List<Menu> myMenus = MenusController.GetMenus(User.Identity.IsAuthenticated, User.IsInRole("ADMIN"), User.Identity.GetUserId());

                    @(Html.Kendo().Menu()
                      .Name("Menu")                      
                      .BindTo(myMenus, mappings =>
                      {
                          mappings.For<MDM.WebPortal.Models.Identity.Menu>(binding => binding
                                  .ItemDataBound((item, menuParent) =>
                                  {
                                      item.Text = menuParent.Title;
                                  })
                                  .Children(submenu => submenu.ChildMenus.ToList()));
                          mappings.For<MDM.WebPortal.Models.Identity.Menu>(binding => binding
                                  .ItemDataBound((item, menuChild) =>
                                  {
                                      item.Text = menuChild.Title;
                                      item.ActionName = menuChild.actionSystem.Act_Name;
                                      item.ControllerName = menuChild.actionSystem.ControllerSystem.Cont_Name;
                                      item.Action("Index", "OwnerLists", routeValues: new { Area = "" });
                                  }));
                      })
                      
                    )                
                }
            }*@

        @*@Html.Partial("~/Views/Menus/Testing.cshtml", MenusController.GetMenus(User.Identity.IsAuthenticated, User.IsInRole("ADMIN"), User.Identity.GetUserId()))*@
      

        </div><!-- container -->
    </nav>
   
  
    
    <div>
        @RenderBody()
    </div>

    <aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               @* <h3 class="footer-widget-title">Sitemap</h3>*@
                    <ul class="list-unstyled three_cols">
                    </ul>
                </div>
                
                
            </div> <!-- row -->
        </div> <!-- container -->
    </aside> <!-- footer-widgets -->
    <footer id="footer">
        <p style="text-align:center; color:#adabab; font-size: 0.7em">&copy; @DateTime.Now.Year <a href="#">MedPro Billing</a>, inc. All rights reserved.</p>
    </footer>

   
    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>
   
    
   
    @RenderSection("scripts", required: false)
    
    
    <script src="~/assets/js/syntaxhighlighter/shCore.js"></script>
    <script src="~/assets/js/syntaxhighlighter/shBrushXml.js"></script>
    <script src="~/assets/js/syntaxhighlighter/shBrushJScript.js"></script>
    <script src="~/assets/js/DropdownHover.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/holder.js"></script>
    <script src="~/assets/js/index.js"></script>

    <script>       
        var lastScrollTop = 0;
        $(window).scroll(function (event) {
            var currentScroll = $(this).scrollTop();
            if (currentScroll > lastScrollTop) {
                // downscroll code
                $("nav").addClass("navbar-fixed-top");
                
            } else {
                // upscroll code
                if (currentScroll == 0) {
                    $("nav").removeClass("navbar-fixed-top");
                }
            }
            lastScrollTop = currentScroll;
        });
        
    </script>
   
</body>
</html>
