@model MDM.WebPortal.Models.FromDB.ZoomDB_POSID_grp

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ZoomDB_POSID_grp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZoomPos_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZoomPos_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterPOS.PosMasterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterPOS.PosMasterName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ZoomDBPOSID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
