@model MDM.WebPortal.Models.FromDB.LocPOS_MPServ

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LocPOS_MPServ</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.LocPosMPServID)

        <div class="form-group">
            @Html.LabelFor(model => model.MPServices_MPServID, "MPServices_MPServID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MPServices_MPServID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MPServices_MPServID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationsPOS_Facitity_DBs_IDPK, "LocationsPOS_Facitity_DBs_IDPK", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationsPOS_Facitity_DBs_IDPK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocationsPOS_Facitity_DBs_IDPK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
