@using MDM.WebPortal.Areas.PlaceOfServices.Models.ViewModels
@model IEnumerable<MDM.WebPortal.Models.FromDB.POSFile>

@{
    int currentLocationPOS = ViewBag.Facitity_DBs_IDPK;
}

<div class="container-fluid">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">DOCUMENTS:</legend>

        @if (!Model.Any())
        {
            <div class="row">
            <div class="col-md-6">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong><i class="fa fa-bullhorn"></i> Info!</strong> This Place of Service doesn't have attachments. 
                </div>
            </div>
            </div>
        }
        <ol>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(@item.Description, "Download", new {ImageName = @item.FileName})
                </li>
            }
        </ol>
    </fieldset>



    <div class="pull-right">
        @*<a href="@Url.Action("Create")" class="btn btn-ar btn-primary">NEW</a>*@
        <button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal3">
            NEW
        </button>
    </div>
</div>

<div class="modal fade in" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-bold text-uppercase" id="myModalLabel">Upload a File</h4>
            </div>
            <div class="modal-body">
                @*<p><img src="assets/img/demo/image-1.jpg" alt="" class="img-responsive imageborder aligncenter"></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quasi voluptas nostrum culpa sunt laboriosam corporis perspiciatis animi rem unde. Nihil, doloribus soluta possimus non asperiores eius natus quaerat porro.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, mollitia eius libero nisi doloremque alias quasi fugit natus aliquam sapiente obcaecati praesentium corporis et temporibus exercitationem blanditiis molestiae totam. Eligendi!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, ad, adipisci, vel recusandae qui pariatur id nobis officiis dolorum non tempora quae libero cumque consequuntur sint alias odit possimus quo.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, quisquam, tempore, ipsam, blanditiis praesentium cumque commodi vitae minus perferendis officia quidem aliquid natus explicabo! Blanditiis a magni facere temporibus odit.</p>*@
            @Html.Partial("SaveFile", new VMPOSFile { Facitity_DBs_IDPK = currentLocationPOS })
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-ar btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-ar btn-primary">Upload</button>*@
            </div>
        </div>
    </div>
</div>