@model MDM.WebPortal.Areas.Credentials.Models.ViewModel.VMPHYGrp

@{
    Layout = null;
}

<div class="container-fluid">

    <fieldset class="scheduler-border">
        <legend class="scheduler-border text-uppercase text-bold">physician group:</legend>
        <dl>
            <dt>
                @(Html.LabelFor(model => model.PHYGroupName)):
            </dt>
            <dd>
                @(Html.EditorFor(model => model.PHYGroupName, new { htmlAttributes = new { style = "width:100%; border-radius:3px !important; height:28.81px;" } }))
                @Html.ValidationMessageFor(m => m.PHYGroupName)
            </dd>
        </dl>
        <dl>
            <dt>
                @(Html.LabelFor(model => model.PHYGrpNPI_Num)):
            </dt>
            <dd>
                @(Html.EditorFor(model => model.PHYGrpNPI_Num, new { htmlAttributes = new { style = "width:100%; border-radius:3px !important; height:28.81px;" } }))
                @Html.ValidationMessageFor(m => m.PHYGrpNPI_Num)
            </dd>
        </dl>

        <dl>
            <dt>
                @(Html.Label("PHYSICIANS")):
            </dt>
            <dd>
                @(Html.EditorFor(model => model.Physicians))
            </dd>
        </dl>

    </fieldset>
    <div class="text-center">
        <a class="k-button k-update-button btn btn-sm btn-primary" href="\\#"><span class="fa fa-cloud-upload"></span> SAVE</a>
        <a class="k-button k-cancel-button btn btn-sm btn-danger" href="\\#"><span class="fa fa-ban"></span> CANCEL</a>
    </div>
    <br />
</div>