@model MDM.WebPortal.Models.FromDB.OwnerList

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title"></h1>
        <ol class="breadcrumb pull-right">
            <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="@Url.Action("Index")"> Owners</a></li>
            <li class="active">New</li>
        </ol>
    </div>
</header>

<div class="admin-container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-primary box-panel-admin">
                <div class="panel-heading">
                    <p class="text-uppercase text-bold">new owner</p>                    
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("active",true)
                        <div class="form-horizontal">

                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="text-center">
                                <div class="form-group">
                                    <button type="submit" value="Create" class="btn btn-primary">Create</button>
                                    <a href="@Url.Action("Index")" class="btn btn-danger">
                                        <i class="fa fa-ban"></i> Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
   
</div>



