@model MDM.WebPortal.Models.FromDB.Corp_Owner

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Corp_Owner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerList.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerList.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorporateMasterList.CorporateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorporateMasterList.CorporateName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.corpOwnerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
