@*@model IEnumerable<MDM.WebPortal.Models.FromDB.Corp_Owner>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<header class="main-header">
    <div class="container">
        <h1 class="page-title"></h1>
        <ol class="breadcrumb pull-right">
            <li><a href="@Url.Action("Index","Home", new {area=""})"><i class="fa fa-home"></i> Home</a></li>            
            <li class="active">Corp_Owners - Relationship</li>
        </ol>
    </div>
</header>

<div class="container-fluid">   
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <a class="btn btn-primary btn-lg btn-ar" href="@Url.Action("Create")">
        Create New
    </a>
    <br />
    <br />*@
   
   @(Html.Kendo().Grid<MDM.WebPortal.Models.ViewModel.VMOwnerList>()
        .Name("Owners")
        .ToolBar(tools => tools.Excel())
        .Excel(e => e.AllPages(true))        
        .Columns(columns =>
        {
            columns.Bound(e => e.FirstName).Width(110);
            columns.Bound(e => e.LastName).Width(110); 
        })
        .Sortable()
        .Pageable()
        .Filterable()
        .Scrollable(s => s.Enabled(false))
        .ClientDetailTemplateId("template")
        .Events(e => e.ExcelExport("corp_excelExport").DetailInit("corp_detailInit"))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Model(model =>
              {
                model.Id(x => x.OwnersID); // Specify the property which is the unique identifier of the model
                model.Field(x => x.OwnersID).Editable(false); // Make the ProductID property not editable
              })
            .Read(read => read.Action("Owners", "Corp_Owner"))
        )
        .Events(events => events.DataBound("dataBound"))
) 
</div>
<script src="~/Scripts/kendo/jszip.min.js"></script>
<script id="template" type="text/kendo-tmp">
    @(Html.Kendo().Grid<MDM.WebPortal.Models.ViewModel.VMCorp_Owner>()
            .Name("Corporates_#=OwnersID#")
            .ToolBar(tools => tools.Create().Text("NEW CORPORATE ASSOCIATION"))
            .Columns(columns =>
            {
                columns.Bound(o => o.corpOwnerID).Hidden(true);//Width(70);
                columns.ForeignKey(p => p.corpID, (System.Collections.IEnumerable)ViewData["Corporate"], "corpID", "CorporateName").Title("CORPORATE NAME").Width(110);
                columns.Bound(o => o.active).Title("ACTIVE").Width(110);

                columns.Command(commands =>
                {
                    commands.Edit();
                }).Title("COMMANDS").Width(110);

            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Model(model =>
                  {
                    model.Id(x => x.corpOwnerID);
                    model.Field(x => x.corpOwnerID).Editable(false);
                    model.Field(x => x.active).Editable(false);
                  })
                .Events(events => events.Error("error_handler"))
                .Read(read => read.Action("Corporate", "Corp_Owner", new { OwnersID = "#=OwnersID#" }))
                .Update(x => x.Action("Update", "Corp_Owner", new { OwnersID = "#=OwnersID#" }))
                .Create(create => create.Action("Add_Corp", "Corp_Owner", new { ParentID = "#=OwnersID#" }))
            )
            .Pageable()
            .Sortable()
            .ToClientTemplate()
    )
</script>
<script>
    function dataBound() {
        detailExportPromises = [];
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

    var detailExportPromises = [];

    function corp_detailInit(e) {
        var deferred = $.Deferred();

        // get the index of the master row
        var masterRowIndex = e.masterRow.index(".k-master-row");

        // add the deferred to the list of promises
        detailExportPromises.push(deferred);

        var detailGrid = e.detailRow.find("[data-role=grid]").data("kendoGrid");

        detailGrid.bind("excelExport", function (e) {
            // prevent saving the file
            e.preventDefault();

            // resolve the deferred
            deferred.resolve({
                masterRowIndex: masterRowIndex,
                sheet: e.workbook.sheets[0]
            });
        });
    }

    function corp_excelExport(e) {
        // prevent saving the file because we will update the workbook
        e.preventDefault();

        var workbook = e.workbook;

        // Export all detail grids
        $("[data-role=grid]", this.element).each(function () {
            $(this).data("kendoGrid").saveAsExcel();
        });

        // wait for all detail grids to finish exporting
        $.when.apply(null, detailExportPromises)
        .then(function () {
            // get the export results
            var detailExports = $.makeArray(arguments);

            // sort by masterRowIndex
            detailExports.sort(function (a, b) {
                return a.masterRowIndex - b.masterRowIndex;
            });

            // add an empty column
            workbook.sheets[0].columns.unshift({ width: 30 });

            // prepend an empty cell to each row
            for (var i = 0; i < workbook.sheets[0].rows.length; i++) {
                workbook.sheets[0].rows[i].cells.unshift({});
            }

            // merge the detail export sheet rows with the master sheet rows
            // loop backwards so the masterRowIndex doesn't need to be updated
            for (var i = detailExports.length - 1; i >= 0; i--) {
                var masterRowIndex = detailExports[i].masterRowIndex + 1;

                var sheet = detailExports[i].sheet;

                // prepend an empty cell to each row
                for (var ci = 0; ci < sheet.rows.length; ci++) {
                    if (sheet.rows[ci].cells[0].value) {
                        sheet.rows[ci].cells.unshift({});
                    }
                }

                // insert the detail sheet rows after the master row
                [].splice.apply(workbook.sheets[0].rows, [masterRowIndex + 1, 0].concat(sheet.rows));
            }

            // save the workbook
            kendo.saveAs({
                dataURI: new kendo.ooxml.Workbook(workbook).toDataURL(),
                fileName: "Export_Corp_Owner.xlsx"
            });
        });
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            // Display the message
            alert(message);
            // Cancel the changes
            var grid = $("#Owners").data("kendoGrid");
            grid.cancelChanges();
        }
    }
</script>




