@model MDM.WebPortal.Models.FromDB.MasterUserList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MasterUserList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADP_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADP_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edgemed_UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edgemed_UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZoomServer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZoomServer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EdgeMed_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EdgeMed_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Manager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Active)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
