@model IEnumerable<MDM.WebPortal.Models.FromDB.MasterUserList>


@{
    ViewBag.Title = "Index";
}

<h2>MasterUserList - Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ADP_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ADP_ID_)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Edgemed_UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoomServer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdgeMed_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff_Manager)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ADP_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ADP_ID_)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Edgemed_UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZoomServer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EdgeMed_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff_Manager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td> 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id })  
        </td>
        <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
</tr>
}

</table>

