@using MDM.WebPortal.Areas.Credentials.Models.ViewModel

@model IEnumerable<MDM.WebPortal.Models.FromDB.MasterFile>

@{
    int pos = ViewBag.Facitity_DBs_IDPK;
}

<div class="container-fluid">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">DOCUMENTS:</legend>

        @if (!Model.Any())
        {
            <div class="row">
            <div class="col-md-6">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong><i class="fa fa-bullhorn"></i> Info!</strong> This Place of Service doesn't have attachments. 
                </div>
            </div>
            </div>
        }@*<ol>
            @foreach (var item in Model)
            {
                <li onmouseover="enableTrash(@item.FileID,@pos)">
                    @Html.ActionLink(@item.Description, "Download", new { ImageName = @item.FileName })
                    <a id="a_@item.FileID@pos" href="#" hidden=""><i class="fa fa-trash"></i></a>
                </li>
            }
        </ol>*@
            <div class="row">
               @foreach (var item in Model)
                {
                    <div class="col-md-2">
                        <ul>
                            <li onmouseover="enableTrash(@item.FileID,@pos)" onmouseout="disableTrash((@item.FileID,@pos))">
                                @Html.ActionLink(@item.Description, "Download", new { ImageName = @item.FileName })
                                <a id="a_@item.FileID@pos" href="#" hidden=""><i class="fa fa-trash"></i></a>
                            </li>
                        </ul>
                    </div>
                   
               }
            </div>
       
    </fieldset>



    <div class="pull-right">
        <button class="btn btn-primary btn-lg btn-ar" data-toggle="modal" data-target="#myModal3">
            NEW
        </button>
    </div>
</div>

<div class="modal fade in" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title text-bold text-uppercase" id="myModalLabel">Upload a File</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("SaveFile", new VMPOSFile {MasterPOSID = pos})
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>
    function enableTrash(a, b) {
        $("#a_" + a + b).show();
    }

    function disableTrash(a, b) {
        $("#a_" + a + b).hide();
    }
</script>
